@model List<TextModel>

<a asp-action="Create" class="btn btn-success mb-3">Create</a>
</br>
<div class="row">
    @foreach (TextModel text in Model)
    {
        <div class="col-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@text.Title</h5>
                    <p class="card-text">@text.Text</p>
                    <form asp-action="Delete" asp-route-ID="@text.ID">
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                    </form>
                    <a asp-action="Edit" asp-route-ID="@text.ID">
                        <button class="btn btn-outline-warning" type="submit">Edit</button>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
